.card.mt-4
  .card-header{ style: 'border: 1px solid' }
    = event.start_date 
    |
    = event.end_date
    |
    = event.location
  .card-body{ style: 'border: 1px solid' }
    %h5.card-title
      = event.name
    %p.card-text
      = event.description
    =  link_to 'Show', event_path(event.id), class: 'btn', type: 'button', style: 'border: 1px solid'
